<%- include("../templates/header")%>

<div class="container">
    <form action="/foro/editarPost/<%= post._id %>" method="POST">
        <div class="card">
            <div class="card-header">
                <h1>Editar Usuario</h1>
            </div>
            <div class="card-body">
                <input class="form-control mb-3" type="hidden" name="id" id="id" value="<%= post.id_po %>">
                <input class="form-control mb-3" type="text"name="title" id="title" value="<%= post.title %>">
                <input class="form-control mb-3" type="text"name="content" id="content" value="<%= post.content %>"> 
                <input class="form-control mb-3" type="text"name="rating" id="rating" value="<%= post.rating %>">
            </div> 
            <div class="card-footer">  
            <button type="submit" class="editar-btn">Edit Post</button>
            <button class="btn btn-secondary" type="reset">Limpia Campos</button>  
            </div>
        </div>
    </form>
</div>

<%- include("../templates/footer")%>